.carousel {
  width: 95vw;
}

.carousel img {
  width: 100%;
  max-height: 80vh;
  /* max-height: 74vh; */
}

.carousel-inner {
  position: relative;
  width: 99%;
  overflow: hidden;
}


.scroll-component {
  overflow-y: scroll;
  max-height: 88vh;
  direction: rtl;
}

.cd {
  height: 20rem;
  max-width: 19.25rem;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.div-img-jhorran{
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-img-jhorran img{
  width: 1100px;
}

.card-body {
  opacity: 0;
  transition: opacity 0.3s ease-in;
  color: aliceblue;
  display: flex;
  justify-content: end;
  flex-direction: column;
  min-width: 308px;
}

.card:hover .card-body {
  opacity: 1;
}

.card {
  filter: grayscale(0%);
  border-radius: 5px;
  border: none;
  transition: 0.3s ease-in;
}

.card:hover {
  filter: grayscale(100%);
}

.d-flex-justify-space-around {
  display: flex;
  justify-content: space-around;
}

.quadro {
  background-image: url("https://github.com/LipeLutz/imagens-projeto-jhorran/blob/main/principal-webp/jpeg-optimizer_ARTE-E-GALERIA_baixa.webp?raw=true");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: start;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.back2 {
  background-image: url("https://github.com/LucasLatsch/Img/blob/main/jpeg-optimizer_fundo-studio-jsant.jpg?raw=true");
  background-position: center;
  background-size: cover;
}

.btnModal {
  font-size: 25px;
  cursor: pointer;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  right: 0px;
  margin: 5px;
}

.carousel-imgs{
  position: relative;
  top: 50px;
  right: 130px;
  width: 1000px;
  overflow: hidden;
}

.inner-content {
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available; /* Substitua pelo valor desejado se necessário */
  height: 100%;
  justify-content: space-between;
}

.modal-content {
  background-color: transparent;
  border: none;
}

.modal-header {
  border: none;
}

.modal-footer {
  border: none;
}

.BodyModalArtDesign{
  display: flex;
  justify-content: center;
  align-items: center ;
  top: 70px;
}

.modalArtDesign{
  padding: 30px;
  width: 1300px;
  display: flex;
  background-color: white;
  border-radius: 20px;
}

.material-symbols-outlined{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 559px;
  cursor: pointer; 
  padding: 0px 10px;
}

.divCarouselImgArtDesign{
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgCarouselArt{
  border-radius: 10px;
  width: 600px;
}

.sideTextModal{
  margin: 10px 0px 0px 20px;
  font-family: "Raleway", sans-serif;
}

.divImgQuadros{
  position: relative;
  top: 80px;
}


@media screen and (max-width: 1024px) {
  .carousel {
    width: 90vw;
  }

  .div-img-jhorran img{
    width: 800px !important;
  }

  .modalArtDesign{
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    width: 700px;
  }

  .imgCarouselArt{
    width: 600px;
  }

  .material-symbols-outlined{
    display: flex;
    height: 559px;
    cursor: pointer;
    padding: 0px 10px 0px 10px; 
  }

  .sideTextModal{
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    padding: 30px;
  }
}

@media screen and (max-width: 768px) {
    /* .carousel {
      width: 85vw;
    } */

    .div-img-jhorran img{
      width: 500px !important;
    }

    .modalArtDesign{
      padding: 20px 20px;
      display: flex;
      flex-direction: column;
      width: 400px;
    }

    .imgCarouselArt{
      width: 300px;
    }

    .material-symbols-outlined{
      display: flex;
      height: 279px;
      cursor: pointer; 
    }

    .sideTextModal{
      margin: 0;
      font-family: "Raleway", sans-serif;
      font-size: 0.9rem;
      padding: 30px;
    }

    .sideTextModal > h1{
      font-size: 1.5rem;
    }
  }
  
@media screen and (max-width: 425px) {
    /* .carousel {
      width: 90vw;
    } */

    .div-img-jhorran img{
      width: 300px !important;
    }
} 
